In [ ]:
import pandas as pd
import matplotlib.pyplot as pyplot
import numpy as np

In [ ]:
path="/content/drive/MyDrive/Colab Notebooks/creditcard (1).csv"

In [ ]:
cc=pd.read_csv(path)

In [ ]:
cc.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
#trying to find the null values in the dataset
cc.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
cc.shape

(20000, 31)

In [ ]:
cc.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,30667.503000,-0.253597,-0.064480,0.714497,0.094638,-0.227266,0.128136,-0.057537,0.053137,-0.094132,...,-0.020893,-0.103456,-0.035918,0.015991,0.130121,0.006790,0.007869,0.006520,99.940908,0.003200
std,16718.320072,1.748823,1.617802,1.099111,1.361425,1.296820,1.309555,1.097443,1.044362,1.025356,...,0.674294,0.631515,0.578913,0.601027,0.431383,0.490282,0.370811,0.393460,263.755957,0.056479
min,0.000000,-56.407510,-72.715728,-12.988094,-4.817064,-32.092129,-26.160506,-19.399981,-25.838568,-7.083169,...,-13.990842,-5.707801,-13.085283,-2.761047,-4.232409,-1.438650,-8.358317,-8.364853,0.000000,0.000000
25%,36028.000000,-1.022598,-0.629234,0.180830,-0.787382,-0.872589,-0.633680,-0.572380,-0.141978,-0.692651,...,-0.219546,-0.529472,-0.186003,-0.322822,-0.130159,-0.333204,-0.057343,-0.007012,7.250000,0.000000
50%,38213.000000,-0.313121,0.077129,0.756333,0.129684,-0.277760,-0.141918,-0.041501,0.079295,-0.119674,...,-0.050439,-0.087339,-0.051496,0.070110,0.162130,-0.083648,0.011008,0.023449,28.700000,0.000000
75%,40340.000000,1.137722,0.729055,1.379024,0.995300,0.296713,0.515392,0.460257,0.367142,0.480362,...,0.123204,0.322545,0.083718,0.415834,0.410473,0.290509,0.090818,0.077928,89.912500,0.000000
max,47054.000000,1.685314,9.628396,4.101716,16.491217,34.801666,21.393069,34.303177,7.500621,9.272376,...,15.631453,4.393846,17.297845,3.679740,5.376595,3.463246,4.814408,33.847808,11898.090000,1.000000

In [ ]:
non_fraud=len(cc[cc.Class==0])

In [ ]:
fraud=len(cc[cc.Class==1])

In [ ]:
fraud_pct=(fraud/(fraud+non_fraud))*100
fraud_pct

0.32

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
cc['Normalized_amount'] = scaler.fit_transform(cc['Amount'].values.reshape(-1,1))

In [ ]:
cc.drop(['Amount','Time'],inplace=True,axis=1)

In [ ]:
cc.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Class,Normalized_amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.188357
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.368725
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0,1.056757
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0,0.089324
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0,-0.113558

In [ ]:
x=cc.drop(['Class'],axis=1)

In [ ]:
y=cc.Class

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
x_train.shape

(14000, 29)

In [ ]:
x_test.shape

(6000, 29)

In [ ]:
#create the model
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf1=RandomForestClassifier(n_estimators=100)

In [ ]:
rf1.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
prediction_rf=rf1.predict(x_test)

In [ ]:
rf_score=rf1.score(x_test,y_test)*100

In [ ]:
rf_score

99.76666666666667

In [ ]:
cc.Class.unique()

array([0, 1])

In [ ]:
cc.Class.value_counts()

0    19936
1       64
Name: Class, dtype: int64