In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url="/content/Dataset Car_Sukriti.xlsx"

In [ ]:
file1=pd.read_excel(url)

In [ ]:
file1.head()

,Price,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,...,Transmission_Automatic,Transmission_Manual,Drive_Type_4wd,Drive_Type_2WD,Paint_color_Gray,Paint_color_White,Paint_color_Black,Paint_color_Blue,Paint_color_Silver,Paint_color_Red
0,4800,0,0,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
1,6500,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
2,6750,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
3,7900,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
4,7950,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0

In [ ]:
import scipy.stats

In [ ]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2315 entries, 0 to 2314
Data columns (total 80 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Price                   2315 non-null   int64
 1   Year_2010               2315 non-null   int64
 2   Year_2011               2315 non-null   int64
 3   Year_2012               2315 non-null   int64
 4   Year_2013               2315 non-null   int64
 5   Year_2014               2315 non-null   int64
 6   Year_2015               2315 non-null   int64
 7   Year_2016               2315 non-null   int64
 8   Year_2017               2315 non-null   int64
 9   Year_2018               2315 non-null   int64
 10  Year_2019               2315 non-null   int64
 11  Year_2020+              2315 non-null   int64
 12  audi                    2315 non-null   int64
 13  bmw                     2315 non-null   int64
 14  chevrolet               2315 non-null   int64
 15  chrysler                2315 non-null   int64
 16  dodge                   2315 non-null   int64
 17  ford                    2315 non-null   int64
 18  honda                   2315 non-null   int64
 19  hyundai                 2315 non-null   int64
 20  kia                     2315 non-null   int64
 21  mazda                   2315 non-null   int64
 22  mercedes-benz           2315 non-null   int64
 23  nissan                  2315 non-null   int64
 24  subaru                  2315 non-null   int64
 25  toyota                  2315 non-null   int64
 26  volkswagen              2315 non-null   int64
 27  audi_a4                 2315 non-null   int64
 28  audi_a6                 2315 non-null   int64
 29  audi_a3                 2315 non-null   int64
 30  bmw_328i                2315 non-null   int64
 31  bmw_3-series            2315 non-null   int64
 32  bmw_528i                2315 non-null   int64
 33  bmw_5-series            2315 non-null   int64
 34  chevrolet_cruze         2315 non-null   int64
 35  chevrolet_impala        2315 non-null   int64
 36  chevrolet_malibu        2315 non-null   int64
 37  chrysler_200            2315 non-null   int64
 38  chrysler_300            2315 non-null   int64
 39  dodge_avenger           2315 non-null   int64
 40  dodge_charger           2315 non-null   int64
 41  dodge_dart              2315 non-null   int64
 42  ford_taurus             2315 non-null   int64
 43  ford_fusion             2315 non-null   int64
 44  ford_focus              2315 non-null   int64
 45  ford_fiesta             2315 non-null   int64
 46  honda_civic             2315 non-null   int64
 47  honda_accord            2315 non-null   int64
 48  hyundai_accent          2315 non-null   int64
 49  hyundai_elantra         2315 non-null   int64
 50  hyundai_sonata          2315 non-null   int64
 51  kia_forte               2315 non-null   int64
 52  kia_optima              2315 non-null   int64
 53  mazda_mazda6            2315 non-null   int64
 54  mazda_mazda3            2315 non-null   int64
 55  mercedes-benz_c-class   2315 non-null   int64
 56  mercedes-benz_benz      2315 non-null   int64
 57  nissan_sentra           2315 non-null   int64
 58  nissan_altima           2315 non-null   int64
 59  subaru_legacy           2315 non-null   int64
 60  subaru_impreza          2315 non-null   int64
 61  toyota_corolla          2315 non-null   int64
 62  toyota_camry            2315 non-null   int64
 63  volkswagen_passat       2315 non-null   int64
 64  volkswagen_jetta        2315 non-null   int64
 65  volkswagen_cc           2315 non-null   int64
 66  Cylinders               2315 non-null   int64
 67  Mileage                 2315 non-null   int64
 68  Title_Status_Clean      2315 non-null   int64
 69  Title_Status_Rebuilt    2315 non-null   int64
 70  Transmission_Automatic  2315 non-null   int64
 71  Transmission_Manual     2315 non-null   int64
 72  Drive_Type_4wd          2315 non-null   int64
 73  Drive_Type_2WD          2315 non-null   int64
 74  Paint_color_Gray        2315 non-null   int64
 75  Paint_color_White       2315 non-null   int64
 76  Paint_color_Black       2315 non-null   int64
 77  Paint_color_Blue        2315 non-null   int64
 78  Paint_color_Silver      2315 non-null   int64
 79  Paint_color_Red         2315 non-null   int64
dtypes: int64(80)
memory usage: 1.4 MB

In [ ]:
Y=file1['Price']

In [ ]:
X=file1.drop('Price',axis=1)

In [ ]:
X.columns

Index(['Year_2010', 'Year_2011', 'Year_2012', 'Year_2013', 'Year_2014',
       'Year_2015', 'Year_2016', 'Year_2017', 'Year_2018', 'Year_2019',
       'Year_2020+', 'audi', 'bmw', 'chevrolet', 'chrysler', 'dodge', 'ford',
       'honda', 'hyundai', 'kia', 'mazda', 'mercedes-benz', 'nissan', 'subaru',
       'toyota', 'volkswagen', 'audi_a4', 'audi_a6', 'audi_a3', 'bmw_328i',
       'bmw_3-series', 'bmw_528i', 'bmw_5-series', 'chevrolet_cruze',
       'chevrolet_impala', 'chevrolet_malibu', 'chrysler_200', 'chrysler_300',
       'dodge_avenger', 'dodge_charger', 'dodge_dart', 'ford_taurus',
       'ford_fusion', 'ford_focus', 'ford_fiesta', 'honda_civic',
       'honda_accord', 'hyundai_accent', 'hyundai_elantra', 'hyundai_sonata',
       'kia_forte', 'kia_optima', 'mazda_mazda6', 'mazda_mazda3',
       'mercedes-benz_c-class', 'mercedes-benz_benz', 'nissan_sentra',
       'nissan_altima', 'subaru_legacy', 'subaru_impreza', 'toyota_corolla',
       'toyota_camry', 'volkswagen_passat', 'volkswagen_jetta',
       'volkswagen_cc', 'Cylinders', 'Mileage', 'Title_Status_Clean',
       'Title_Status_Rebuilt', 'Transmission_Automatic', 'Transmission_Manual',
       'Drive_Type_4wd', 'Drive_Type_2WD', 'Paint_color_Gray',
       'Paint_color_White', 'Paint_color_Black', 'Paint_color_Blue',
       'Paint_color_Silver', 'Paint_color_Red'],
      dtype='object')

In [ ]:
print(X)

      Year_2010  Year_2011  Year_2012  Year_2013  Year_2014  Year_2015  \
0             0          0          1          0          0          0
1             1          0          0          0          0          0
2             0          1          0          0          0          0
3             0          1          0          0          0          0
4             0          0          0          1          0          0
...         ...        ...        ...        ...        ...        ...
2310          0          0          0          0          1          0
2311          0          0          0          1          0          0
2312          0          1          0          0          0          0
2313          0          1          0          0          0          0
2314          0          0          0          0          1          0

      Year_2016  Year_2017  Year_2018  Year_2019  ...  Transmission_Automatic  \
0             0          0          0          0  ...                       0
1             0          0          0          0  ...                       1
2             0          0          0          0  ...                       1
3             0          0          0          0  ...                       1
4             0          0          0          0  ...                       1
...         ...        ...        ...        ...  ...                     ...
2310          0          0          0          0  ...                       1
2311          0          0          0          0  ...                       1
2312          0          0          0          0  ...                       1
2313          0          0          0          0  ...                       1
2314          0          0          0          0  ...                       1

      Transmission_Manual  Drive_Type_4wd  Drive_Type_2WD  Paint_color_Gray  \
0                       1               1               0                 1
1                       0               0               1                 0
2                       0               1               0                 0
3                       0               1               0                 0
4                       0               1               0                 0
...                   ...             ...             ...               ...
2310                    0               0               1                 0
2311                    0               0               1                 0
2312                    0               0               1                 0
2313                    0               0               1                 0
2314                    0               0               1                 0

      Paint_color_White  Paint_color_Black  Paint_color_Blue  \
0                     0                  0                 0
1                     1                  0                 0
2                     1                  0                 0
3                     1                  0                 0
4                     0                  1                 0
...                 ...                ...               ...
2310                  1                  0                 0
2311                  0                  1                 0
2312                  0                  1                 0
2313                  0                  1                 0
2314                  0                  0                 0

      Paint_color_Silver  Paint_color_Red
0                      0                0
1                      0                0
2                      0                0
3                      0                0
4                      0                0
...                  ...              ...
2310                   0                0
2311                   0                0
2312                   0                0
2313                   0                0
2314                   1                0

[2315 rows x 79 columns]

In [ ]:
X.columns = X.columns.astype(str)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(X,Y,test_size =0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
fitted_meodel= clf.fit(x_train,y_train)

In [ ]:
pred_y=clf.predict(x_test)

In [ ]:
print("Predictions:", pred_y[1:5])
print("Labels:", list(y_test[1:5]))

Predictions: [ 9808.85526334 11072.15772793 12235.67859116  6502.55058407]
Labels: [9495, 11995, 8995, 6500]

In [ ]:
clf.score(x_test,y_test)

0.7831694216520462

In [ ]:
len(pred_y)

463

In [ ]:
type(pred_y)

numpy.ndarray

In [ ]:
new_data1=pd.DataFrame()

In [ ]:
new_data1['Actual_Price']=y_test

In [ ]:
new_data1['Predicted Price'] = pred_y

In [ ]:
new_data1.head()

      Actual_Price  Predicted Price
2237          6000      9442.372783
572           9495      9808.855263
1594         11995     11072.157728
1895          8995     12235.678591
1654          6500      6502.550584

In [ ]:
# Let’s measure this regression model’s RMSE on the whole training set
from sklearn.metrics import mean_squared_error


lin_rmse = mean_squared_error(y_test, pred_y, squared=False)
lin_rmse

2352.244344631416

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
mae = mean_absolute_error(y_test, pred_y)
mae

1758.8151770007642

In [ ]:
new_data1.to_csv('predicted_prices.csv', index=False)

In [ ]:
import statsmodels.api as sm
import os
fitted_meodel.intercept_

19115.945382265174

In [ ]:
clf_model= sm.OLS(y_train,x_train).fit()

In [ ]:
clf_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.766
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                     107.1
Date:                Sun, 26 Mar 2023   Prob (F-statistic):               0.00
Time:                        02:49:23   Log-Likelihood:                -16979.
No. Observations:                1852   AIC:                         3.407e+04
Df Residuals:                    1796   BIC:                         3.438e+04
Df Model:                          55
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Year_2010              -7931.2001    257.478    -30.803      0.000   -8436.189   -7426.212
Year_2011              -7843.4989    246.890    -31.769      0.000   -8327.720   -7359.278
Year_2012              -7057.6790    222.111    -31.775      0.000   -7493.302   -6622.055
Year_2013              -6255.1659    207.618    -30.128      0.000   -6662.364   -5847.967
Year_2014              -4882.8435    221.598    -22.035      0.000   -5317.460   -4448.227
Year_2015              -4088.6376    222.422    -18.382      0.000   -4524.871   -3652.404
Year_2016              -3156.9966    217.100    -14.542      0.000   -3582.792   -2731.201
Year_2017              -1.145e-09      4e-10     -2.864      0.004   -1.93e-09   -3.61e-10
Year_2018              -9.673e-11   3.38e-11     -2.859      0.004   -1.63e-10   -3.04e-11
Year_2019               5.257e-10   1.85e-10      2.837      0.005    1.62e-10    8.89e-10
Year_2020+             -3.275e-10   1.14e-10     -2.879      0.004   -5.51e-10   -1.04e-10
audi                    3429.1524    266.949     12.846      0.000    2905.589    3952.716
bmw                     3040.5991    246.055     12.357      0.000    2558.015    3523.183
chevrolet               -572.9371    121.049     -4.733      0.000    -810.349    -335.525
chrysler                1214.3182    211.529      5.741      0.000     799.449    1629.187
dodge                    736.5751    232.426      3.169      0.002     280.721    1192.429
ford                   -1021.3627    190.807     -5.353      0.000   -1395.590    -647.135
honda                   1017.6476    135.508      7.510      0.000     751.877    1283.418
hyundai                -1013.3842    184.393     -5.496      0.000   -1375.032    -651.737
kia                     -492.8518    197.457     -2.496      0.013    -880.122    -105.582
mazda                    373.4835    224.159      1.666      0.096     -66.156     813.123
mercedes-benz           3428.3534    309.960     11.061      0.000    2820.433    4036.273
nissan                  -779.4259    142.268     -5.479      0.000   -1058.454    -500.398
subaru                   645.8626    262.790      2.458      0.014     130.456    1161.269
toyota                   876.0439    119.198      7.349      0.000     642.262    1109.825
volkswagen               -22.4100    192.404     -0.116      0.907    -399.770     354.950
audi_a4                  752.1051    376.784      1.996      0.046      13.124    1491.086
audi_a6                 1064.1251    539.851      1.971      0.049       5.324    2122.926
audi_a3                 1612.9223    513.538      3.141      0.002     605.728    2620.117
bmw_328i                 813.3672    411.610      1.976      0.048       6.083    1620.651
bmw_3-series             116.1451    444.204      0.261      0.794    -755.066     987.356
bmw_528i                 589.5821    609.463      0.967      0.333    -605.749    1784.913
bmw_5-series            1521.5047    662.788      2.296      0.022     221.588    2821.421
chevrolet_cruze         -162.7398    184.737     -0.881      0.378    -525.063     199.583
chevrolet_impala        -389.1171    208.933     -1.862      0.063    -798.894      20.660
chevrolet_malibu         -21.0801    200.191     -0.105      0.916    -413.712     371.552
chrysler_200           -1624.0011    279.877     -5.803      0.000   -2172.919   -1075.083
chrysler_300            2838.3193    373.968      7.590      0.000    2104.861    3571.778
dodge_avenger          -1628.1099    397.717     -4.094      0.000   -2408.147    -848.073
dodge_charger           5042.9764    438.388     11.503      0.000    4183.172    5902.781
dodge_dart             -2678.2914    497.014     -5.389      0.000   -3653.078   -1703.505
ford_taurus             1938.6807    612.191      3.167      0.002     737.999    3139.362
ford_fusion             1191.8045    257.595      4.627      0.000     686.587    1697.022
ford_focus             -1493.9534    306.285     -4.878      0.000   -2094.665    -893.241
ford_fiesta            -2657.8945    460.760     -5.768      0.000   -3561.577   -1754.212
honda_civic              682.5675    202.333      3.373      0.001     285.735    1079.400
honda_accord             335.0800    209.679      1.598      0.110     -76.161     746.321
hyundai_accent         -2228.4697    453.003     -4.919      0.000   -3116.938   -1340.001
hyundai_elantra         -534.8091    274.641     -1.947      0.052   -1073.458       3.840
hyundai_sonata          1749.8947    282.835      6.187      0.000    1195.175    2304.614
kia_forte              -2248.6550    316.325     -7.109      0.000   -2869.059   -1628.251
kia_optima              1755.8032    314.335      5.586      0.000    1139.303    2372.303
mazda_mazda6             988.2300    392.958      2.515      0.012     217.527    1758.933
mazda_mazda3            -614.7465    325.824     -1.887      0.059   -1253.780      24.288
mercedes-benz_c-class   1145.8035    449.975      2.546      0.011     263.273    2028.334
mercedes-benz_benz      2282.5498    531.643      4.293      0.000    1239.846    3325.254
nissan_sentra          -1565.7278    228.819     -6.843      0.000   -2014.507   -1116.948
nissan_altima            786.3019    206.063      3.816      0.000     382.154    1190.450
subaru_legacy           1052.0545    352.116      2.988      0.003     361.454    1742.655
subaru_impreza          -406.1919    385.153     -1.055      0.292   -1161.586     349.203
toyota_corolla          -960.2298    181.022     -5.304      0.000   -1315.266    -605.194
toyota_camry            1836.2737    156.684     11.720      0.000    1528.972    2143.575
volkswagen_passat        471.4880    334.191      1.411      0.158    -183.957    1126.933
volkswagen_jetta       -1263.9085    293.214     -4.311      0.000   -1838.985    -688.832
volkswagen_cc            770.0104    461.177      1.670      0.095    -134.489    1674.509
Cylinders                 12.6530    103.791      0.122      0.903    -190.911     216.217
Mileage                   -0.0408      0.002    -22.327      0.000      -0.044      -0.037
Title_Status_Clean      6664.4616    183.825     36.254      0.000    6303.929    7024.994
Title_Status_Rebuilt    4195.2025    232.709     18.028      0.000    3738.793    4651.612
Transmission_Automatic  5390.3886    184.271     29.253      0.000    5028.981    5751.796
Transmission_Manual     5469.2755    229.103     23.873      0.000    5019.938    5918.613
Drive_Type_4wd          5633.0878    232.855     24.191      0.000    5176.392    6089.783
Drive_Type_2WD          5226.5763    179.394     29.135      0.000    4874.733    5578.419
Paint_color_Gray        1645.7922    132.613     12.410      0.000    1385.700    1905.884
Paint_color_White       1955.6553    127.665     15.319      0.000    1705.268    2206.043
Paint_color_Black       1681.7430    126.583     13.286      0.000    1433.477    1930.009
Paint_color_Blue        1866.3930    154.105     12.111      0.000    1564.148    2168.638
Paint_color_Silver      1517.2616    127.859     11.867      0.000    1266.493    1768.030
Paint_color_Red         2192.8190    170.073     12.893      0.000    1859.258    2526.380
==============================================================================
Omnibus:                      146.202   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              315.160
Skew:                           0.498   Prob(JB):                     3.66e-69
Kurtosis:                       4.758   Cond. No.                     2.24e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.59e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
X.columns

Index(['Year_2010', 'Year_2011', 'Year_2012', 'Year_2013', 'Year_2014',
       'Year_2015', 'Year_2016', 'Year_2017', 'Year_2018', 'Year_2019',
       'Year_2020+', 'audi', 'bmw', 'chevrolet', 'chrysler', 'dodge', 'ford',
       'honda', 'hyundai', 'kia', 'mazda', 'mercedes-benz', 'nissan', 'subaru',
       'toyota', 'volkswagen', 'audi_a4', 'audi_a6', 'audi_a3', 'bmw_328i',
       'bmw_3-series', 'bmw_528i', 'bmw_5-series', 'chevrolet_cruze',
       'chevrolet_impala', 'chevrolet_malibu', 'chrysler_200', 'chrysler_300',
       'dodge_avenger', 'dodge_charger', 'dodge_dart', 'ford_taurus',
       'ford_fusion', 'ford_focus', 'ford_fiesta', 'honda_civic',
       'honda_accord', 'hyundai_accent', 'hyundai_elantra', 'hyundai_sonata',
       'kia_forte', 'kia_optima', 'mazda_mazda6', 'mazda_mazda3',
       'mercedes-benz_c-class', 'mercedes-benz_benz', 'nissan_sentra',
       'nissan_altima', 'subaru_legacy', 'subaru_impreza', 'toyota_corolla',
       'toyota_camry', 'volkswagen_passat', 'volkswagen_jetta',
       'volkswagen_cc', 'Cylinders', 'Mileage', 'Title_Status_Clean',
       'Title_Status_Rebuilt', 'Transmission_Automatic', 'Transmission_Manual',
       'Drive_Type_4wd', 'Drive_Type_2WD', 'Paint_color_Gray',
       'Paint_color_White', 'Paint_color_Black', 'Paint_color_Blue',
       'Paint_color_Silver', 'Paint_color_Red'],
      dtype='object')

In [ ]:
file1.head()

,Price,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,...,Transmission_Automatic,Transmission_Manual,Drive_Type_4wd,Drive_Type_2WD,Paint_color_Gray,Paint_color_White,Paint_color_Black,Paint_color_Blue,Paint_color_Silver,Paint_color_Red
0,4800,0,0,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
1,6500,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
2,6750,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
3,7900,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
4,7950,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0

In [ ]:
# Toyota = file1['Toyota']
# price = file1['Price']
# # file1.plot.scatter(x='Price', y='Toyota');
# file1.plot(x='Price', y='Black', kind='scatter')